<!DOCTYPE html>
<html>
  <head>
  <style>
div.container {
    width: 100%;
    border: 1px solid gray;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}
</style>
</head>
<body>

<div class="container">

<header>
   <h1>ABOUT US</h1>
</header>
  
<nav>
  <ul>
    <li><a href="#">Eric</a></li>
    <li><a href="#">Jonathan</a></li>
    <li><a href="#">Jenny</a></li>
    <li><a href="#">Xavier</a></li>
  </ul>
</nav>

<article>
  <h1>Eric</h1>
  <p>About Eric paragraph one.</p>
  <p>About Eric paragraph two.</p>
</article>

<article>
   <h1>Jonathan</h1>
  <p>About Jonathan paragraph one.</p>
   <p>About Jonathan paragraph two.</p>
</article>

<article>
   <h1>Jenny</h1>
  <p>About Jenny paragraph one.</p>
   <p>About Jenny paragraph two.</p>
</article>

<article>
   <h>Xavier</h1>
  <p>About Xavier paragraph one.</p>
   <p>About Xavier paragraph two.</p>
</article>
  

<footer>Copyright &copy; NYUfinalproject.com</footer>

</div>

</body>
</html>

    
