<!DOCTYPE html>
<html lang="en">

<head>

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<p> Please sign in.</p>

<form method=post action="{{ url_for('sign_in') }}">
<p>Email address</p>
<input type="email" id="username" name="username" placeholder="Email address" required>
<p>Password</p>
<input type="password" id="password_field" name="password_field" placeholder="Password" required>
<button type="submit">Sign in</button>
</form>

{% if login_attempt %}
<p> Login Attempt: {{login_attempt}} </p>
{% endif %}

<script src="{{url_for('static',filename='js/jquery.js') }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
